*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 45px;
}

h4{
    font-size: 16px;
}

a{
    text-decoration: none;
}

.tipografia-oscura{
    color: rgb(29,29,31);
}

.botones{
    background-color: rgb(0, 113, 227);
    border-radius: 20px;
    border:none;
    padding: 10px 15px;
    color: white;
}

.links{
    color: rgb(0, 113, 227);
}

.fuente12{
    font-size: 12px;
}

.fuente14{
    font-size: 14px;
}

.espaciado{
    margin-top: 15px;
}

.bold{
    font-weight: bold;
}

.contenedor{
    text-align: center;
}


/* --------------- Barra de Navegación --------------- */

#contenedor-navbar{
    background-color: rgba(0, 0, 0, 0.8);
    height: 50px;
    text-align: center;
}

.item{
    display: inline-block;
    height: 45px;
}

.link-navbar{
    font-size: 14px;
    color: rgb(242, 242, 242);
    padding: 15px 10px 0px 10px;
    display: block;
    height: 45px;
    text-decoration: none;
}

.iconos-navbar{
    vertical-align: middle;
    width: 50px;
    height: 50px; 
}


/* -------------------------- Bloque Principal -------------- */

.imagen-principal{
    width: 65%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.tipografia-nuevo{
    color: rgb(248, 166, 15);
}



/* -------------------------- Bloques Intermedios -------------- */
.background-intermedio{
    background-color: rgb(242, 242, 242);
}

.tabla{
    display: table;
    border-collapse: separate;
    border-spacing: 40px 0px;
}

.fila{
    display:table-row;
}

.columna{
    display: table-cell;
}

.imagen-bloque1{
    width: 100%;
    margin-top: 130px;
}

.imagen-bloque2{
    padding-left: 40px;
    padding-right: 40px;
}



/* -------------------- 3er Bloque -------------------------------- */
.contenedor-3{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.imagen-cubo{
    width: 30px;
    height: 30px;
}

.espaciado-3{
    margin-top: 5px;
}


/* ---------------- Footer ----------- */
footer{
    padding: 15px 0px 15px 70px;
}

.tipografia-footer{
    color:rgb(81, 81, 84);
}

.background-footer{
    background-color: rgb(245, 245, 247);
}
